<ion-view title="Settings" hide-back-button="true">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon custom-menu"></button>
    </ion-nav-buttons>

    <ion-content class="has-header">

        <div class="list card">

            <div class="item item-text-wrap">

              <div class="item  text-center positive">
                Change Password
              </div>

              <span class="text-center TB-FORCE-ASSERT">
                {{setting.message}}
                <p class="TB-FORCE-ASSERT" ng-show="form.oldPassword.$error.mongoose">
                  {{ setting.errors.other }}
                </p>
              </span>


                <form name="form" ng-submit="setting.changePassword(form)" novalidate>
                    <div class="list">

                        <label class="item item-input">
                            <span class="input-label">Old</span>
                            <input type="password" ng-model="user.oldPassword" name="oldPassword">

                        </label>

                        <label class="item item-input">
                            <span class="input-label">New</span>
                            <input type="password" ng-model="user.newPassword">
                        </label>

                      <label class="item">
                        <button class="button button-block icon-right button-positive TB-FONT-WEIGHT-MAX" type="submit">
                          <span>Change password</span>
                        </button>
                      </label>

                    </div>
                </form>


            </div>


        </div>



        <div class="list card">

          <div class="item item-text-wrap">

            <div class="item  text-center positive">
               Set Filter
            </div>


            <form class="form" name="filterform" ng-submit="setting.setFilter(filterform)" novalidate>


              <ion-radio name="filter" value="ALL" ng-model="setting.filter.value"> ALL </ion-radio>
              <ion-radio name="filter" value="UNSEEN" ng-model="setting.filter.value"> UNSEEN </ion-radio>


              <label class="item">
                <button class="button button-block icon-right button-positive TB-FONT-WEIGHT-MAX" type="submit">
                  <span>Save Filter</span>
                </button>
              </label>

            </form>

          </div>

        </div>


        <div class="list card">

            <div class="item item-text-wrap">

              <div class="item text-center positive">
                Google Accounts
              </div>

                <div class="list">

                    <div class="item item-button-right" ng-repeat="account in setting.accounts">
                        <div class="custom TB-MEDIUM-FONT TB-FONT-WEIGHT-SM">{{account.email}}</div>
                        <button class="button button-assertive button-clear"  ng-class="{disabled:setting.deleteInProgress===account._id}"
                                                                ng-click="setting.onDeleteAccount(account)">
                            <i class="icon ion-trash-a"></i>
                        </button>
                    </div>

                </div>


            </div>

        </div>

    </ion-content>

</ion-view>
