<ion-view>

  <ion-content class="MAIN-BG" has-bouncing="false">

    <div class="row" style="padding-top: 20px;padding-bottom: 10px">
      <div class="col">
        <img src="images/LOGO.png" width="120" alt="" class="TB-BLOCK TB-MARGIN-AUTO"/>
      </div>
    </div>

    <div class="row TB-BTM-PADDING">
      <div class="col text-center TB-FONT-WEIGHT-MEDIUM login-desc">
        An email will be send to the address with a link to reset your password
      </div>
    </div>



    <div  class="row row-center"  style="height:220px">
      <div class="col col-center">

        <form ng-submit="forgot.submit(form)" name="form" novalidate >
          <div class="list ">

            <label class="item item-input  ">
              <span class="input-label TB-FONT-UPCLBI TB-LARGER-FONT" ng-class="{'assertive':forgot.errors.other,'balanced':(form.$valid && !form.$pristine)}">Email</span>
              <input type="email" ng-model="forgot.user.email" >
            </label>

            <div class="row" style="padding-top: 5px" ng-show="forgot.error.message">
              <div class="col">
                <div  class="text-center TB-LINE-HEIGHT-MD TB-FONT-UPCLBI TB-LARGER-FONT TB-FONT-WEIGHT-MAX">
                  <span ng-class="{'balanced': (forgot.error.type=='success') , 'assertive':(forgot.error.type=='danger')}">{{forgot.error.message}}</span>
                </div>
              </div>
            </div>

            <label class="item custom-input-btn TB-FONT-WEIGHT-MAX">
              <button class="button button-block icon-right button-energized" type="submit" ng-class="{disabled:!form.$valid}">
                <span class="TB-FONT-UPCLBI TB-LARGER-FONT">Submit</span>
                <i ng-class="{'ion-loading-d':forgot.inProgress}"></i>
              </button>
            </label>

          </div>
        </form>

      </div>
    </div>



    <div class="row">
      <div class="col col-center text-center">
        <span class="button  button-clear button-light TB-FONT-UPCLBI TB-LARGER-FONT" ui-sref="login">Login &nbsp;&nbsp;|</span>

        <span class="button  button-clear button-light TB-FONT-UPCLBI TB-LARGER-FONT" ui-sref="signup">Sign up</span>

      </div>
    </div>

    <div class="row row-bottom" >
      <div class="col text-center auth-helptext">
        <div class="button button-clear text-center" ng-click="openHelp()">
          How TidyBoxes Works
        </div>
      </div>
    </div>

  </ion-content>



</ion-view>
