<ion-view>


  <ion-content class="MAIN-BG" has-bouncing="false">


    <div class="row" style="padding-top: 20px;padding-bottom: 10px">
      <div class="col">
        <img src="images/LOGO.png" width="120" alt="" class="TB-BLOCK TB-MARGIN-AUTO"/>
      </div>
    </div>

    <div class="row TB-BTM-PADDING">
      <div class="col text-center TB-FONT-WEIGHT-MEDIUM login-desc">
        The best way to clean your Inbox
      </div>
    </div>
    <div  class="row row-center"  style="height:220px">
      <div class="col col-center">

        <form ng-submit="login.login(form)" name="form" novalidate >
          <div class="list ">

            <label class="item item-input  ">
              <span class="input-label TB-FONT-UPCLBI TB-LARGER-FONT" ng-class="{'assertive':login.errors.other,'balanced':(form.$valid && !form.$pristine)}">Email</span>
              <input type="email" ng-model="login.user.email" required>
            </label>

            <label class="item item-input   ">
              <span class="input-label TB-FONT-UPCLBI TB-LARGER-FONT" ng-class="{'assertive':login.errors.other, 'balanced':(form.$valid && !form.$pristine)}">Password</span>
              <input type="password" ng-model="login.user.password" required pattern=".{6,}" required>
            </label>

            <div ng-show="login.errors.other" class="text-center TB-FONT-WEIGHT-MAX">
              <span class="assertive" ng-cloak>{{login.errors.other}}</span>
            </div>

            <label class="item custom-input-btn TB-FONT-WEIGHT-MAX">
              <button class="button button-block icon-right button-energized" type="submit" ng-class="{disabled:!form.$valid}">
                <span class="TB-FONT-UPCLBI TB-LARGER-FONT">Log in</span>
                <i ng-class="{'ion-loading-d':login.loginInProgress}"></i>
              </button>
            </label>

          </div>
        </form>

      </div>
    </div>

    <div class="row">
      <div class="col col-center text-center">
        <span class="button  button-clear button-light TB-FONT-UPCLBI TB-LARGER-FONT" ui-sref="forgot">Forgot? &nbsp;&nbsp;|</span>


        <span class="button  button-clear button-light TB-FONT-UPCLBI TB-LARGER-FONT" ui-sref="signup">Sign-up</span>

      </div>
    </div>

    <div class="row row-bottom" >
      <div class="col text-center auth-helptext">
        <div class="button button-clear text-center" ng-click="openHelp()">
          How TidyBoxes Works
        </div>
      </div>
    </div>


  </ion-content>


</ion-view>


