<ion-view>


  <ion-content class="MAIN-BG" has-bouncing="false">

    <!--<button class="button button-clear TB-FONT-WEIGHT-MAX text-center button-light login-text-color button-full" ui-sref="login">Log In</button>
    -->

    <div class="row" style="padding-top: 20px;padding-bottom: 10px">
      <div class="col">
        <img src="images/LOGO.png" width="120" alt="" class="TB-BLOCK TB-MARGIN-AUTO"/>
      </div>
    </div>

    <div  class="row row-center"  style="height:260px">
      <div class="col col-center">

        <form ng-submit="signup.register(form)" name="form" novalidate>
          <div class="list ">


            <label class="item item-input  ">
              <span class="input-label TB-FONT-UPCLBI TB-LARGER-FONT">Username</span>
              <input type="text" autocapitalize="off" ng-model="signup.user.name" required>
            </label>


            <label class="item item-input  ">
              <span class="input-label TB-FONT-UPCLBI TB-LARGER-FONT">Email</span>
              <input type="email" ng-model="signup.user.email" required>
            </label>

            <label class="item item-input  ">
              <span class="input-label TB-FONT-UPCLBI TB-LARGER-FONT">Password</span>
              <input type="password" ng-model="signup.user.password" required pattern="(?=.*\d)(?=.*[a-z]).{6,}"
                     placeholder="min 6 letters with 2 numbers">
            </label>

            <div ng-show="signup.errors.other" class="text-center TB-FONT-WEIGHT-MAX">
              <span class="assertive">{{signup.errors.other}}</span>
            </div>

            <label class="item custom-input-btn">
              <button class="button button-block button-energized icon-right" type="submit" ng-class="{disabled:!form.$valid}">
                <span class="TB-FONT-UPCLBI TB-LARGER-FONT">Sign Up</span>
                <i ng-class="{'ion-loading-d':signup.signUpInProgress}"></i>
              </button>
            </label>

          </div>
        </form>

      </div>
    </div>

    <div class="row">
      <div class="col col-center text-center">
        <span class="button  button-clear button-light TB-FONT-UPCLBI TB-LARGER-FONT" ui-sref="forgot">Forgot? &nbsp;&nbsp;|</span>

        <span class="button  button-clear button-light TB-FONT-UPCLBI TB-LARGER-FONT" ui-sref="login">Login</span>

      </div>
    </div>

    <div class="row row-bottom" >
      <div class="col text-center auth-helptext">
        <div class="button button-clear text-center" ng-click="openHelp()">
          How TidyBoxes Works
        </div>
      </div>
    </div>



  </ion-content>

</ion-view>

