.TB-NO-PADDING {
  padding: 0px;
}

.TB-NO-MARGIN-TOPBOTTOM {
  margin:0 auto !important;
}

.TB-NO-BORDER-WIDTH {
  border-width:0px;
}

.TB-MARGIN-TOP-AVG {
  margin-top: 10px;
}


// font

.TB-SMALL-FONT {
  font-size: 12px;
}

.TB-MEDIUM-FONT {
  font-size: 14px;
}

.TB-LARGE-FONT {
  font-size: 16px;
}

.TB-LARGER-FONT {
  font-size: 20px;
}


.TB-LARGEST-FONT {
  font-size: 26px;
}

.TB-FONT-WEIGHT-MAX {
  font-weight: bold;
}

.TB-FONT-WEIGHT-MEDIUM {
  font-weight: 500;
}

.TB-FONT-WEIGHT-SM {
  font-weight: 400;
}

.TB-RIGHT {
  float:right;
}

.TB-LEFT {
  float: left;
}

.TB-BG-TRANSPARENT {
  background-color: transparent;
}

.TB-BG-COVER {
  background-size: cover !important;
}

.TB-BLUR {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}


.TB-OVERFLOW-HIDDEN {
  overflow: hidden;
}

.TB-BGCOLOR {
  background-color: #428bca;
}

.TB-COLOR {
  color:#428bca;
}

.TB-BLOCK {
  display: block;
}

.TB-MARGIN-AUTO {
  margin: 0 auto;
}

.TB-TEXT-WHITE {
  color: #ffffff !important;
}

@font-face {
  font-family: 'Lobster';
  src:url("../fonts/Lobster.ttf") format('truetype');/* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

.TB-FONT-LOBSTER  {
  font-family: 'Lobster',serif;
}


@font-face {
  font-family: 'upclb';
  src:url("../fonts/upclb.ttf") format('truetype');/* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;

}

.TB-FONT-UPCLB  {
  font-family: 'upclb',serif;
}


@font-face {
  font-family: 'upclbi';
  src:url("../fonts/upclbi.ttf") format('truetype');/* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;

}

.TB-FONT-UPCLBI  {
  font-family: 'upclbi',serif;
}

@font-face {
  font-family: 'upcli';
  src:url("../fonts/upcli.ttf") format('truetype');/* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;

}

.TB-FONT-UPCLi  {
  font-family: 'upcli',serif;
}

@font-face {
  font-family: 'upcll';
  src:url("../fonts/upcll.ttf") format('truetype');/* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;

}

.TB-FONT-UPCLL  {
  font-family: 'upcll',serif;
}


//height

.TB-LINE-HEIGHT-MD {
  line-height: 1em;
}

.TB-LINE-HEIGHT-S {
  line-height: 0.8em;
}


.TB-BTM-PADDING {
  padding-bottom: 15px;
}

.TB-PADDING-LEFT-SMALL {
  padding-left: 4px !important;
}

.TB-FORCE-ASSERT {
  color: #ef473a !important;
}
