// Your application styles go here

html{
  height:100%;
  min-height:100%;
}
body{
  min-height:100%;
}

@import "common";

@import "custom/login";
@import "custom/home";
@import "custom/menu";
@import "custom/help";

//samp
//@import '../images/*.png';
//@include all-images-sprites;
