

<ion-view title="{{home.title}}">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon custom-menu"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <i style="font-size: 30px" class="icon  positive TB-LARGEST-FONT ion-ios-plus-empty" ng-click="home.addAccount()"></i>

    </ion-nav-buttons>

    <ion-content class="has-header" ng-class="{'HOME-BG1':home.accounts.length ==0}">

        <ion-refresher
                pulling-text="refresh..."
                on-refresh="home.doRefresh()">
        </ion-refresher>

        <ion-list>
            <ion-item class="item-icon-right" ng-repeat="account in home.accounts"
                      ng-click="home.doNavigate(account)">

                <h3 class="" ng-class="{'assertive':account.stats , 'positive':!account.stats}">{{account.name}}</h3>
                <span class="custom TB-SMALL-FONT">{{account.email}}</span>
                <span class="badge TB-MARGIN-TOP-AVG" ng-class="{'badge-assertive':account.stats , 'badge-positive':!account.stats}">{{account.stats}}</span>
                <i class="icon ion-chevron-right icon-accessory icon-"></i>
            </ion-item>

        </ion-list>


      <div ng-if="home.accounts.length ==0" class="row ">
        <div class="col text-center">


          <div class="TB-BTM-PADDING">
            <i class="icon ion-android-add add-icon" ng-click="home.addAccount()"></i>
          </div>
        </div>
      </div>

      <div ng-if="home.accounts.length ==0" class="row ">
        <div class="col col-67 col-offset-20 add-info text-center home-message1 login-text-color TB-LARGE-FONT TB-FONT-WEIGHT-MEDIUM">

          Add as many Gmail accounts as you want
        </div>
      </div>

    </ion-content>
</ion-view>
