<ion-view title="{{list.title}}" hide-back-button="false">

    <ion-nav-buttons side="left" hide-back-button="false">
    </ion-nav-buttons>

    <ion-content class="has-header">

        <div class="list card">


            <div class="item item-body text-center">
                <p>
                    You have <h2>{{item.message.count}}</h2> messages from
                    <h3>{{item.message.address}}</h3>
                </p>
                <p>

                    <p ng-show="item.account.history[item.message.address].archived">
                        You have archived <span class="positive">{{item.account.history[item.message.address].archived}}</span> number of emails form the same sender
                        in the past
                    </p>

                    <p ng-if="item.isMoved()">

                        You have moved

                        <div ng-repeat="moved in item.movedList">
                           <h3 class="positive">{{moved.count}} to {{moved.folder}}</h3>
                        </div>

                    </p>

                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item positive" href="javascript:void(0)" ng-click="item.triggerArchive()">
                    <i class="icon ion-archive"></i>
                    Archive
                    <span class="icon icon-right" ng-if="item.archiveInProgress">
                        <i class="ion-loading-d" ></i>
                    </span>

                </a>

                <a class="tab-item assertive" href="javascript:void(0)" ng-click="item.triggerDelete()">
                  <i class="icon ion-trash-b"></i>
                  Delete
                    <span class="icon icon-right" ng-if="item.deleteInProgress">
                        <i class="ion-loading-d" ></i>
                    </span>

                </a>

                <a class="tab-item calm" href="javascript:void(0)" ng-click="openMove()">
                    <i class="icon ion-folder"></i>
                    Move
                </a>
            </div>

        </div>


    </ion-content>

</ion-view>
