
<ion-view title="{{list.title}}" hide-back-button="true">


  <ion-header-bar class="bar-subheader item-input-inset">


    <label class="item-input-wrapper">
      <input type="text"
        placeholder="search ..."
        ng-model="list.search"
        ng-focus="searchFocused = true"
        ng-blur="searchFocused = false"
        ng-change="scrollTop()">
    </label>

    <button ng-if="list.search.length"
            class="button button-icon ion-android-close input-button"
            ng-click="list.clearSearch()">
    </button>


  </ion-header-bar>

    <ion-nav-buttons side="left" hide-back-button="true">

        <button menu-toggle="left" class="button button-icon icon ion-navicon custom-menu"></button>

    </ion-nav-buttons>


    <ion-content padding="false" class="has-header">

          <ion-list show-delete="list.data.multiMode">

            <ion-item class="my-item"
              collection-repeat="message in list.getMessages()"
              collection-item-width="'100%'"
              collection-item-height="list.getItemHeight(message, $index)"
              ng-style="{height: list.getItemHeight(message, $index)}"
              href="#/app/item/{{$index}}/{{list.account._id}}">


                  <div class="custom TB-MEDIUM-FONT TB-FONT-WEIGHT-SM">{{message.address}}</div>
                  <span class="badge badge-light badge-font-positive">{{message.count}}</span>

                  <ion-option-button class="button-positive"
                                 ng-click="list.doArchive(message, $index)">
                    <i class="TB-PADDING-LEFT-SMALL icon ion-archive"></i>
                  </ion-option-button>

                  <ion-option-button class="button-calm"
                                 ng-click="list.toMove(message, $index)">
                    <i class="TB-PADDING-LEFT-SMALL icon ion-folder"></i>
                  </ion-option-button>

                  <ion-option-button class="button-assertive"
                                 ng-click="list.doTrash(message, $index)">
                    <i class="TB-PADDING-LEFT-SMALL icon ion-trash-b"></i>
                  </ion-option-button>

            </ion-item>

          </ion-list>




    </ion-content>

</ion-view>
