<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Add new Account</h1>
    </ion-header-bar>
    <ion-content>
        <a class="button button-clear button-positive text-center button-block" href="http://cleaninbox.herokuapp.com/auth/google">Add google Account</a>
    </ion-content>
</ion-modal-view>