
<ion-side-menus class="TB-OVERFLOW-HIDDEN">

  <ion-pane ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar">
      <ion-nav-back-button class="button-positive button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left" width="200" class="custom-menu MENU-BG">
    <!--<header class="bar bar-header bar-stable bar-clear">-->
        <!--<h1 class="title"></h1>-->
    <!--</header>-->
    <ion-content class=" " has-bouncing="false">


      <div class="row">
        <div class="col col-50 col-offset-25">
          <img src="images/LOGO.png" width="100" alt="" style="padding-bottom: 50px"/>
        </div>
      </div>


      <ion-list>
        <ion-item nav-clear menu-close class="">

            <a class="button button-clear TB-TEXT-WHITE text-center TB-FONT-UPCLBI button-block TB-FONT-WEIGHT-MAX TB-LARGER-FONT" href="#/app/home">Home
            </a>

        </ion-item>

        <ion-item nav-clear menu-close>

            <a class="button button-clear  TB-TEXT-WHITE text-center TB-FONT-UPCLBI button-block TB-FONT-WEIGHT-MAX TB-LARGER-FONT" href="#/app/stats">History
            </a>

        </ion-item>

        <ion-item nav-clear menu-close>

            <a class="button button-clear TB-TEXT-WHITE text-center TB-FONT-UPCLBI  button-block TB-FONT-WEIGHT-MAX TB-LARGER-FONT" href="#/app/settings">Settings
            </a>

        </ion-item>

        <ion-item nav-clear menu-close>

          <button class="button button-clear TB-TEXT-WHITE  TB-FONT-UPCLBI text-center button-block button-blockbutton-blockicon-left TB-FONT-WEIGHT-MAX TB-LARGER-FONT" ng-click="menu.openHelp()">
             Help</button>

        </ion-item>


      </ion-list>
    </ion-content>



    <ion-footer-bar ng-click="menu.logout()">

      <div class="title TB-FONT-WEIGHT-MAX TB-FONT-UPCLBI sign-out TB-LARGER-FONT">
        Sign Out
        <i ng-class="{'ion-loading-d':menu.logoutInProgress}"></i>
      </div>

    </ion-footer-bar>




  </ion-side-menu>
</ion-side-menus>
