<ion-modal-view>

    <ion-header-bar>
        <button class="button icon-left ion-chevron-left button-clear button-positive" ng-click="cancel()">Back</button>
        <h1 class="title">Move</h1>
    </ion-header-bar>

    <ion-content>

        <div class="card">

            <div class="item text-center">
                <h3>select a folder to move</h3>
            </div>

            <div class="item item-text-wrap item-avatar">

                <treecontrol class="tree-light"
                             tree-model="items"
                             options="treeOptions"
                             on-selection= "onSelection(node)"
                             selected-node="node">
                    {{node.displayName}}
                </treecontrol>

            </div>

            <div class="item text-center">

                <button class="button button-positive button-clear icon-right" ng-click="moveToFolder()"
                        ng-class="{'disabled' : !node }">
                    <span>Move</span>
                    <i ng-class="{'ion-loading-d':moveInProgress}"></i>
                </button>
            </div>

        </div>


    </ion-content>

</ion-modal-view>
