.slider {
  height: 100%;
}
.slider-slide {
  color: #000;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.close-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2000;
}

.help-btn {
  position: fixed;
  bottom: 0%;
  left: 50%;
  right: 50%;
}

.img-height {
  height: 500px;
}


.box {
  width: 100%;
  height: 100%;
  color: #fff;
}
.box h1 {
  margin-top: 20px;
  width: 100%;
  color: #fff;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
}

ion-slide img {
  width: 100%;
  height: 320px;
  margin-bottom: 40px;
}

ion-slide h1 {
  margin-top: 20px !important;
}

ion-slide p {
  height: 50px;;
  padding:5px;
}

ion-slide img {
  margin-left: 15px;
}

.slider-pager .slider-pager-page {
  color:white;
  .active {
    color:white;
  }
}
