
.icon.ion-navicon.custom-menu, .bar .title {
  color: #4a87ee;;
  @extend .TB-FONT-WEIGHT-SM;
}

.HOME-BG1 {
  background: url(../images/IMG_MainBackground.png) repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}

.HOME-BG2 {
  background: url(../images/homenewbtm.png) no-repeat;

}

.my-item {
  left: 0;
  right: 0;
  text-overflow: ellipsis;
  -webkit-animation-delay: 2s;
  -webkit-animation-timing-function: linear;
}

.button.button-icon.input-button {
  position: absolute;
  right: 0;
  top: 5px;
  color: #bbb;
}
.custom {
  width:90%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.custom-full {
  width:100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.badge.badge-font-positive {
  color: #4a87ee !important;
}


.add-info {
  margin:0px auto;
  margin-bottom: 120px !important;
}
.add-icon {
  font-size: 75px;
  color: #ffffff;
  margin-top: 20px;
}

.add-padding {
  padding-top: 20px;
}

.home-message {
  font-family: 'Lobster', serif;
  font-size: 1.2em;
  font-weight: bold;
}
.home-message1 {
  font-family: 'upcli';
  color: #ffffff;
  font-size: 1.5em;
  font-weight: bold;
}
