

//@import '../../images/img/*.png';
//@include all-img-sprites;

.MAIN-BG {
  background: url(../images/IMG_MainBackground.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-desc {
  font-family: "Lobster", serif;
  font-size: 1.5em;
  color: #ffffff;
}


.sign-up {
  float: right;
  margin-top: 20px;
}


.custom-input {

  @extend .TB-BG-TRANSPARENT;
  //border: 1px solid white;

  span,input {
    color: #ffffff;
  }

  input {
    font-weight: bold;
  }
}

.custom-input-btn {

  @extend .TB-BG-TRANSPARENT;
  border: 0;
}

.top-margin-med {
  margin-top: 15px !important;
}

.form-error {
  color:#66cc33 !important;
}

.login-text-color {
  color:#ffffff !important;
}

.bottom-center {
  position: fixed;
  bottom: 5%;
}

.auth-helptext {
  font-weight: bolder;
  font-family: 'upclb', serif;
  div {
    font-size: 1.5em !important;
  }

}

.login-margin {
  margin-top: 100px;
}
