
.custom-menu {

  ion-item {

    @extend .TB-NO-PADDING;
    background-color: transparent;
    @extend .TB-NO-BORDER-WIDTH;

    .button {

      @extend .TB-NO-MARGIN-TOPBOTTOM;
      @extend .TB-NO-BORDER-WIDTH;
    }

  }

}

ion-side-menu {

  .item {
    background-color: transparent;
  }

  ion-content {
    .scroll {
      position: absolute;
      top: 5%;
      right: 0;
      left: 0;
    }
  }

  ion-item {
    a, button {
    }
    &.item {
    }

  }
}

.MENU-BG {
  background: url(../images/IMG_LeftMenu01.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.sign-out {
  color:#9e9e9e !important;
}


ion-nav-bar, ion-nav-view {
  border:none !important;
}
