


<ion-modal-view class="TB-OVERFLOW-HIDDEN">
  <ion-content class="MAIN-BG">

    <div class="close-btn button-large TB-TEXT-WHITE" ng-click="closeHelp()">
      <i class="icon ion-close"></i>
    </div>


    <ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="true" show-pager="true" auto-play="true">

      <ion-slide  ng-repeat="data in helpData">
        <div class="TB-TEXT-WHITE">

          <h1 class="TB-FONT-LOBSTER TB-TEXT-WHITE">TidyBoxes</h1>
          <p class="TB-FONT-UPCLi TB-LARGER-FONT" style="height: 100;">
            {{data.description}}
          </p>
          <img src="{{data.image}}" alt=""/>

        </div>
      </ion-slide>
    </ion-slide-box>

  </ion-content>
</ion-modal-view>
