<ion-view title="History" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon custom-menu"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">

        <ion-refresher
                pulling-text="refresh..."
                on-refresh="stats.doRefresh()">
        </ion-refresher>

        <ion-list>
            <ion-item class="item-icon-right" ng-repeat="account in stats.accounts"
                      ng-click="stats.doNavigate(account)">

                <span class="custom TB-MEDIUM-FONT TB-FONT-WEIGHT-SM">{{account.email}}</span>
                <span class="badge badge-stable">{{account.totalManaged}}</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>
