<ion-view title="{{list.title}}" hide-back-button="false">

    <ion-nav-buttons side="left" hide-back-button="false">
    </ion-nav-buttons>

    <ion-content class="has-header">


        <div class="list">
            <div class="item my-item"
                 collection-repeat="item in details.historyList"
                 collection-item-width="'100%'"
                 collection-item-height="details.getItemHeight(item, $index)"
                 ng-style="{height: details.getItemHeight(item, $index)}">
                <div class="custom-full TB-MEDIUM-FONT TB-FONT-WEIGHT-SM">{{item.address}}</div>
                <span ng-if="item.archived" class="TB-SMALL-FONT positive">
                  <i class="icon small ion-archive"></i> : ({{item.archived}})
                </span>
                <span ng-if="item.moved" class="TB-SMALL-FONT calm">
                  <i class="icon small ion-arrow-move"></i> : {{item.moved}}
                </span>
            </div>
        </div>

    </ion-content>

</ion-view>
